<template>
  <div id="app" class="md-layout">
    <div class="md-layout-item md-size-33" v-for="quotation in quotations" :key="quotation.id">
      <div>
        <b-card no-body class="overflow-hidden" style="max-width: 540px;">
          <b-row no-gutters>
            <b-col md="6">
              <b-card-img src="https://picsum.photos/400/400/?image=20" class="rounded-0"></b-card-img>
            </b-col>
            <b-col md="6">
              <b-card-body title="Horizontal Card">
                <b-card-text>
                  <quotation
                    :description="quotation.description"
                    :id="quotation.id"
                    :where="quotation.font"
                  ></quotation>
                </b-card-text>
              </b-card-body>
            </b-col>
          </b-row>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import QuotationApi from "@/services/QuotationApi";
import Quotation from "@/components/Quotation";

export default {
  name: "App",
  components: {
    Quotation
  },
  data() {
    return {
      quotations: []
    };
  },
  created() {
    var self = this;
    QuotationApi.getAllQuotations(10, quotations => {
      self.quotations = quotations.data;
    });
  }
};
</script>