<template>
  <md-card class="card-default">
    <h6>{{ "I'm from MongoDB" }}</h6>
    <h5>{{ id }}</h5>
    <h3>{{ description }}</h3>
  </md-card>
</template>

<script>
export default {
  name: "quotation",
  props: {
    description: {
      type: String
    },
    id: {
      type: String
    },
    where: {
      type: String
    }
  }
};
</script>

<style scoped>
.card-default {
  padding: 28px;
  margin: 18px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: #fff !important;
}
</style>